connections:
  postgresql:
    adapter: postgresql
    database: multi_postgresql_test
    min_messages: WARNING
    username: postgres
    schema_search_path: public
    password:
    host: localhost
    port: 5432
