connections:
  postgresql:
    adapter: postgresql
    database: multi_postgresql_test
    min_messages: WARNING
    username: postgres
    schema_search_path: public
    password:
    host: 127.0.0.1
    port: 5432
connection
  postgresql:
    adapter: postgresql
    database: multi_postgresql_development
    min_messages: WARNING
    username: postgres
    schema_search_path: public
    password:
    host: 127.0.0.1
    port: 5432
